// BUTTONS

.button {
    width: 394px;
    height: 93px;
    background: rgba(0, 179, 44, 0.75);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 3px;
    line-height: 93px;
    margin-top: 58px;
    box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.5);
}