// TYPOGRAPHY

nav {
    color: $dark;
    font: {
        size: 19px;
        family: HelveticaNeue-Bold;
        weight: bold;
    }
    text-align: center;
    letter-spacing: 0.47px;
}

h2 {
    color: $light;
    font: {
        size: 88px;
        family: neue-haas-grotesk-display,sans-serif;
        weight: 900;
        style: normal;
    }
    letter-spacing: 6.14px;
    line-height: normal;
    text: {
        align: left;
        shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    }
}


h3 {
    color: $light;
    font: {
        size: 28px;
        family: HelveticaNeue-Bold;
        weight: bold;
    }
    letter-spacing: 1.95px;
    line-height: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

h4 {
    color: $light;
    font: {
        size: 34px;
        family: neue-haas-grotesk-display,sans-serif;
        weight: 900;
        style: normal;
    }
    letter-spacing: 2.37px;
    line-height: normal;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

p {
    color: $light;
    font: {
        size: 20px;
        family: HelveticaNeue-Bold;
        weight: bold;
    }
    letter-spacing: 1.6px;
}

.button {
    color: $light;
    font: {
        size: 37px;
        family: HelveticaNeue-Bold;
        weight: bold;
    }
    letter-spacing: 2.58px;
    text: {
        shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
        align: center;
    }
}

footer {
    color: $light;
    
    &, .footer {
        font: {
            size: 23px;
            family: HelveticaNeue-Light;
            weight: 300;
        }
        text-align: center;
        letter-spacing: 1.6px;
    }
}