// VARIABLES

// COLORS
$dark:#000;
$light:#FFF;
$arrowTransparent:  rgba(00, 00, 00, .1);
$xmasBg: rgb(202, 228, 235);
$beautyBg: rgb(235, 74, 104);
$windBg: rgb(253, 242, 234);
$cabaretBg: rgb(132, 18, 6);
$sunshineBg: rgb(244, 131, 7);
$glassBg: rgb(159, 155, 153);
$footerBg: #6f0009;

// SIZES
$imgHeight: 199px;