html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.show-info .show-cards div:nth-child(1) .arrow, .show-info .show-cards div:nth-child(2) .arrow, .show-info .show-cards div:nth-child(3) .arrow, .show-info .show-cards div:nth-child(4) .arrow, .show-info .show-cards div:nth-child(5) .arrow, .show-info .show-cards div:nth-child(6) .arrow {
  background-color: rgba(0, 0, 0, 0.1);
}

nav {
  color: #000;
  font-size: 19px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.47px;
}

h2 {
  color: #FFF;
  font-size: 88px;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  letter-spacing: 6.14px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  color: #FFF;
  font-size: 28px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  letter-spacing: 1.95px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

h4 {
  color: #FFF;
  font-size: 34px;
  font-family: neue-haas-grotesk-display,sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 2.37px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

p {
  color: #FFF;
  font-size: 20px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  letter-spacing: 1.6px;
}

.button {
  color: #FFF;
  font-size: 37px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  letter-spacing: 2.58px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.button {
  width: 394px;
  height: 93px;
  background: rgba(0, 179, 44, 0.75);
  border: 3px solid white;
  border-radius: 3px;
  line-height: 93px;
  margin-top: 58px;
  -webkit-box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -3px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

* {
  overflow-x: hidden;
}

.hero {
  width: 100vw;
  height: 820px;
  background: url("/assets/imgs/winter-2896970.png") no-repeat;
}

.hero .hero-content {
  margin-left: 48px;
}

.hero .hero-content h3 {
  padding-top: 22px;
}

.hero .hero-content p {
  padding-top: 26px;
  line-height: 1.4;
}

.hero .hero-right {
  position: absolute;
  top: 599px;
  left: 853px;
  margin-right: 29px;
  width: 558px;
}

.hero .hero-right h4 {
  text-align: center;
  font-weight: bold;
}

.hero .hero-right p {
  text-align: right;
  padding-top: 5px;
}

.show-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 920px;
  margin: 55px 120px 120px 120px;
}

.show-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 28px;
}

.show-info ul li {
  color: #000;
  font-size: 23px;
  font-family: HelveticaNeue-Bold;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.56px;
  padding-right: 27px;
}

.show-info .show-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 1200px;
}

.show-info .show-cards div {
  height: 399px;
  width: 400px;
  position: relative;
}

.show-info .show-cards div img {
  height: 199px;
  width: 400px;
}

.show-info .show-cards div h4 {
  margin-top: 12px;
  text-align: center;
}

.show-info .show-cards div p {
  margin-top: 18px;
  text-align: center;
}

.show-info .show-cards div .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 60px;
}

.show-info .show-cards div:nth-child(even) #xmas-carol {
  fill: #FFF;
}

.show-info .show-cards div:nth-child(odd) h4, .show-info .show-cards div:nth-child(odd) p {
  color: #000;
  text-shadow: none;
}

.show-info .show-cards div:nth-child(odd) #xmas-carol {
  fill: #000;
}

.show-info .show-cards div:nth-child(1) {
  background-color: #cae4eb;
}

.show-info .show-cards div:nth-child(2) {
  background-color: #eb4a68;
}

.show-info .show-cards div:nth-child(3) {
  background-color: #fdf2ea;
}

.show-info .show-cards div:nth-child(3) h4 {
  letter-spacing: 1.5px;
}

.show-info .show-cards div:nth-child(4) {
  background-color: #841206;
}

.show-info .show-cards div:nth-child(5) {
  background-color: #f48307;
}

.show-info .show-cards div:nth-child(6) {
  background-color: #9f9b99;
}

.fundraising {
  width: 100vw;
  height: 956px;
  background: url(/assets/imgs/donate.png);
}

.fundraising h2 {
  text-align: left;
  letter-spacing: 7.47px;
  font-size: 108px;
  padding-top: 234px;
  margin-left: 72px;
}

.fundraising h4 {
  margin: 29px 0px 0px 72px;
  width: 777px;
  line-height: 57px;
}

.fundraising .button {
  background: none;
  margin: 33px 0px 0px 72px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 115px;
  width: 100vw;
}

nav .nav-logo img {
  height: 72px;
  width: 53px;
  margin-left: 84px;
}

nav .tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 323px;
  height: 115px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 25px;
  font-family: HelveticaNowDisplay-XBlk;
  font-weight: xblk;
  letter-spacing: 0.61px;
}

nav .tickets span {
  padding: 0px 10px;
}

nav ul {
  height: auto;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  padding: 0px 17px 0px 18px;
}

nav .icons {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .icons div {
  height: 115px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-family: HelveticaNeue-Light;
  font-weight: 300;
  letter-spacing: 0.34px;
}

nav .icons div .location {
  width: 22px;
  height: auto;
  padding-bottom: 10px;
}

nav .icons div .shopping-cart {
  width: 35px;
  height: auto;
  padding-bottom: 10px;
}

nav .icons div:nth-child(1) {
  width: 94px;
  height: 115px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

footer {
  width: 100vw;
  height: 158px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #6f0009;
  color: #FFF;
}

footer, footer .footer {
  font-size: 23px;
  font-family: HelveticaNeue-Light;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.6px;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1129px;
}
/*# sourceMappingURL=main.css.map */