// HOME

.hero {
    width: 100vw;
    height: 820px;
    background: url('/assets/imgs/winter-2896970.png') no-repeat;

    .hero-content {
        margin-left: 48px;
        
        h3 {
            padding-top: 22px;
        }

        p {
            padding-top: 26px;
            line-height: 1.4;
        }

        .button {
            line-height: 93px;
            text-align: center;
            margin-top: 58px;
        }
    }

    .hero-right {
        position: absolute;
        top: 599px;
        left: 853px;
        margin-right: 29px;
        width: 558px;
        
        h4 {
            text-align: center;
            font-weight: bold;
        }

        p {
            text-align: right;
            padding-top: 5px;
        }
    }
}

.show-info {
    @include flex(flex-start, flex-start, column);
    width: 100vw;
    height: 920px;
    margin: 55px 120px 120px 120px;

    ul {
        @include flex();
        margin-bottom: 28px;

        li {
            color: $dark;
            font: {
                size: 23px;
                family: HelveticaNeue-Bold;
                weight: bold;
            }
            text-align: center;
            letter-spacing: 0.56px;
            padding-right: 27px;

        }
    }

    .show-cards{
        @include flex();
        flex-wrap: wrap;
        height: auto;
        width: 1200px;
        background-color: green;

        .div {
            height: 400px;
            width: 400px;

            img {
                height: 199px;
                width: 400px;
            }

            .arrow {
                width: 400px;
                height: 60px;
            }
        }
    }   
}

.fundraising {
    width: 100vw;
    height: 956px;
}
