// HOME

.hero {
    width: 100vw;
    height: 820px;
    background: url('/assets/imgs/winter-2896970.png') no-repeat;

    .hero-content {
        margin-left: 48px;
        
        h3 {
            padding-top: 22px;
        }

        p {
            padding-top: 26px;
            line-height: 1.4;
        }
    }

    .hero-right {
        position: absolute;
        top: 599px;
        left: 853px;
        margin-right: 29px;
        width: 558px;
        
        h4 {
            text-align: center;
            font-weight: bold;
        }

        p {
            text-align: right;
            padding-top: 5px;
        }
    }
}

.show-info {
    @include flex(flex-start, flex-start, column);
    width: 100vw;
    height: 920px;
    margin: 55px 120px 120px 120px;

    ul {
        @include flex();
        margin-bottom: 28px;

        li {
            color: $dark;
            font: {
                size: 23px;
                family: HelveticaNeue-Bold;
                weight: bold;
            }
            text-align: center;
            letter-spacing: 0.56px;
            padding-right: 27px;

        }
    }

    .show-cards{
        @include flex(space-around, center, row);
        flex-wrap: wrap;
        height: auto;
        width: 1200px;

        div {
            height: 399px;
            width: 400px;
            position: relative;
            
            img {
                height: $imgHeight;
                width: 400px;
            }

            h4 {
                margin-top: 12px;
                text-align: center;
            }
            
            p {
                margin-top: 18px;
                text-align: center;
            }

            .arrow {
                @include flex();
                position: absolute;
                bottom: 0;
                width: 400px;
                height: 60px;
            }
        
            &:nth-child(even) {
                #xmas-carol {
                    fill: $light;
                }
            
            }
            &:nth-child(odd) {
                h4, p {
                    color: $dark;
                    text-shadow: none;
                }
                
                #xmas-carol {
                    fill: $dark;
                }
            }

            &:nth-child(1) {
                @include cardBackground ($xmasBg);
            }

            &:nth-child(2) {
                @include cardBackground ($beautyBg);
            }

            &:nth-child(3) {
                @include cardBackground ($windBg);

                h4 {
                    letter-spacing: 1.5px;
                }
            }

            &:nth-child(4) {
                @include cardBackground ($cabaretBg);
            }

            &:nth-child(5) {
                @include cardBackground ($sunshineBg);
            }

            &:nth-child(6) {
                @include cardBackground ($glassBg);
            }
        }
    }   
}

.fundraising {
    width: 100vw;
    height: 956px;
    background: url(/assets/imgs/donate.png);

    h2 {
        text-align: left;
        letter-spacing: 7.47px;
        font-size: 108px;
        padding-top: 234px;
        margin-left: 72px;

    }
    
    h4 {
        margin: 29px 0px 0px 72px;
        width: 777px;
        line-height: 57px;
    }

    .button {
        background: none;
        margin: 33px 0px 0px 72px;
    }
}
